<!DOCTYPE HTML>
<html>
  <head>
   <meta charset="UTF-8">
    PHILEO
    <p>
     ”絶対にハズさない美味しいお店を検索できる'
    </p>
  </head>
  <h1>
  
</h1>
<%= search_form_for @p, url: places_search_path do |f| %>
  <%= f.label :name_eq, '沖縄県' %>
  <%= f.collection_select :name_eq, @places, :name, :name,  include_blank: '指定なし' %>
  <br>
  <%= f.submit '検 索' %>
<% end %>

<%= form_with url: new_cook_path,local: true do |f|%>
<%= f.file_field :maps, id:"maps-gogole" %>
   <%= f.submit "登録する" ,class:"sel-btn" %>

<% end %>

 <%= form_with  local: true do |f| %>
    
      <%= f.text_field :name, placeholder: "XX COFFEE ROASTER", class: "form-control"%>
      br
      p 住所を入力
    <%= f.text_field :address, placeholder: "東京都港区芝公園4-2−8", class: "form-control"%>
      br
      <%=  f.submit "登録する", class: "btn btn-primary"%>

<% end %>
<%# <h1>
  新規登録
</h1>
<%= search_form_for @p, url: new_cook_path do |f| %>
  
  
  <%# <div class="sell-btn-contents"> %>
      <%# <%= f.submit "登 録" ,class:"sell-btn" %> 
      <%# <%=link_to 'もどる', root_path, class:"back-btn" %>
    <%# </div> %> 
    <%# <% end %> 
