<!DOCTYPE HTML>
<html>
  <head>
   <meta charset="UTF-8">
    PHILEO
    <p>
     ”絶対にハズさない美味しいお店を検索できる'
    </p>
  </head>
  <h1>
  
</h1>
<%= search_form_for @p, url: places_search_path do |f| %>
  <%= f.label :name_eq, '沖縄県' %>
  <%= f.collection_select :name_eq, @places, :name, :name,  include_blank: '指定なし' %>
  <br>
  <%= f.submit '検 索' %>
<% end %>

<%= form_with url: new_cook_path,local: true do |f|%>
<%= f.file_field :maps, id:"maps-gogole" %>
   <%= f.submit "登録する" ,class:"sel-btn" %>

<% end %>

 